.share {
  width: 100%;
  height: 721px;
  background-image: url(../assets/background.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}
.text_top {
  text-align: center;
  padding-bottom: 1rem;
  position: relative;
  top: -41px;
}
@media (max-width: 780px) {
  .share {
    max-height: 394px;
  }
}
